# Node
web/node_modules
web/.test-dist
web/dist

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Git
.git/
.gitignore

# Docs
docs/

# OS
.DS_Store
Thumbs.db
